<div class="container">
  
  <div class="row">
      <div class="col-md-3">
          <a routerLink="client_profile" class="btn btn-success btn-lg btn-block btn-huge">Profile</a>
      </div>
      <div class="col-md-3">
          <a routerLink="client_add_jobs"  class="btn btn-primary btn-lg btn-block btn-huge">Add Job</a>
      </div>
      <div class="col-md-3">
          <a routerLink="client_view_users"  class="btn btn-danger btn-lg btn-block btn-huge">View Users</a>
      </div>
      <div class="col-md-3">
          <a routerLink="report_users"  class="btn btn-warning btn-lg btn-block btn-huge">Feedback</a>
      </div>
      

  </div>
  
 
</div>
<router-outlet></router-outlet>